
/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    line-height: 1.6;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #1a1a1a;
}

.logo {
    font-size: 2rem;
    color: white;
}

.navbar nav a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}

.navbar nav a:hover {
    text-decoration: underline;
}

/* Hero Styles */
#hero {
    text-align: center;
    padding: 2rem;
    background-color: #f4f4f4;
}

#hero h1 {
    margin-bottom: 0.5rem;
}

#hero p {
    margin-bottom: 1rem;
}

#hero button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

#hero button:hover {
    background-color: #555;
}


.hero-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevenir que la imagen de fondo se desborde */
}

.hero-content {
    z-index: 2;
    width: 100%; /* En dispositivos móviles el contenido usará todo el ancho */
    padding: 1em;
    text-align: center;
}

.hero-image {
    background: url('../assets/image1.png') no-repeat center center/cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.hero-inner {
    max-width: 50%; /* O el porcentaje que prefieras para el ancho del contenedor de texto */
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejorar la legibilidad */
    padding: 5% 10%; /* Usa porcentajes para el padding para mayor flexibilidad */
    text-align: left; /* Alineación del texto */
}

.background-image-section {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), 
                url('../assets/image1.png') no-repeat right center/cover;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    height: 500px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}
/* Responsive adjustments */
@media (max-width: 768px) {
    .hero-section {
        flex-direction: column; /* Cambiar la dirección de flex a columna en móviles */
    }

    .hero-content {
        /* El contenido se sitúa sobre la imagen en móviles */
        position: absolute;
        top: 0;
        left: 0;
    }

    .hero-image {
        background-position: center left; /* Alinear la imagen de fondo a la izquierda */
    }
}